<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>          
          <Exclude>[*]UnitTests*,[*]Database.Models*,[*]Database.Migrations*</Exclude>
          <ExcludeByFile>**/Program.cs,**/Startup.cs,**/.nuget/,**/obj/,**/build/,**/ArkadiaDbContext.cs,**/PubSubResponseController.cs,**/PubSubClient.cs,**/YoutubeApiClient.cs,**/SubscriptionManager.cs,**/YoutubeService.cs</ExcludeByFile>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>